<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-6 control-label">Permisjonslengde</label>

        <div class="col-sm-6">
            <select type="date" class="form-control"
                    data-bind="options: permSelect.options, optionsText: permSelect.render, value: permSelect.selected"> </select>
        </div>
    </div>
    <div class="form-group" data-bind="validationElement: birthDate">
        <label class="col-sm-6 control-label">Fødselsdato</label>

        <div class="col-sm-6">
            <input type="date" class="form-control" data-bind="value: birthDate">
        </div>
    </div>

    <div class="form-group" data-bind="validationElement: dueDate">
        <label class="col-sm-6 control-label">Termindato</label>

        <div class="col-sm-6">
            <input type="date" class="form-control" data-bind="value: dueDate">
        </div>
    </div>

    <div data-bind="component: {name: 'maternity-leave-parent', params: maternityLeave.mother }"></div>
    <div data-bind="component: {name: 'maternity-leave-parent', params: maternityLeave.father }"></div>

</form>